@page "/about"

<RootContainer>
    <h3>About</h3>

    <p>This project is intended to automate QA process</p>

    <p>The project distributed under MIT license, see <a href="https://github.com/GataullinRR/Testkit">GitHub repository</a></p>

    <p>Fronend and Backend is developed by GataullinRR (QTU100@gmail.com)</p>
</RootContainer>

@code {

}
