@inject IPresentationService PresentationService;
@inject ICookieStorage Cookies;
@inject IIdentityContext Context;
@inject IMessageService Messages;
@inject IWebMessageHub MessageHub;
@page "/add-case"

<RootContainer>
    @*<div class="row">
        <div class="col">*@
            <CascadingValue Name="IsDisabled" Value="!_isReady">
                <FormTemplate Model="_model" OnSubmit="onSubmit">
                    <FormHeader Name="Lookup parameters" />
                    <CascadingValue Name="IsDisabled" Value="_hasBegun">
                        <FormTextInput Name="ServiceId" @bind-Value="_model.ServiceId" />
                        <FormTextInput Name="UserId" @bind-Value="_model.UserId" />
                    </CascadingValue>

                    @if (!_hasBegun)
                    {
                        <FormValidator />
                    }

                    <FormButton IsSubmit="true" Name="@_hasBegun.Ternar("Stop", "Begin")" />
                </FormTemplate>
            </CascadingValue>
        @*</div>
        <div class="col">
            <textarea readonly>
                <span>@_log</span>
            </textarea>
        </div>
    </div>*@
</RootContainer>

<UnsavedRecordedTestsView AuthorName="@Context.Identity.User.UserName" />

@code {
    public static string BuildPath()
    {
        return $"/add-case";
    }

    class LookupParameters
    {
        [Required]
        public string ServiceId { get; set; }

        [Required]
        public string UserId { get; set; }
    }

    bool _isReady = false;
    bool _hasBegun = false;
    readonly LookupParameters _model = new LookupParameters();

    //string _log;

    async void onSubmit()
    {
        if (_hasBegun)
        {
            var request = new StopAddTestRequest();

            await PresentationService.StopAddTestAsync(request);
        }
        else
        {
            var request = new BeginAddTestRequest(
                new Dictionary<string, string>()
                {
                    { "UserId", _model.UserId },
                    { "ServiceId", _model.ServiceId }
                });

            await PresentationService.BeginAddTestAsync(request);
        }

        _isReady = false;
        StateHasChanged();

        await updateAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        await updateAsync();

        await base.OnParametersSetAsync();
    }

    async Task updateAsync()
    {
        var response = await PresentationService.GetTestsAddStateAsync(new GetTestsAddStateRequest());
        _hasBegun = response.HasBegan;
        _isReady = true;
        StateHasChanged();
    }

    protected override Task OnInitializedAsync()
    {
        //MessageHub.TestAddProgressChangedAsync += async (m) =>
        //{
        //    _log = m.Log;

        //    StateHasChanged();
        //};

        return base.OnInitializedAsync();
    }

    //async Task onRecordedAsync(TestAddedWebMessage webMessage)
    //{
    //    _isReady = false;
    //    StateHasChanged();
    //}
}
