@page "/profile" 
@page "/profile/{UserName}"
@inject IIdentityContext Context;
@inject IUserService UserService;
@inject ICookieStorage Cookies;
@inject IMessageService Messages;

    <RootContainer>
        @if (_userInfo != null)
        {
            <KVP Name="User">@_userInfo.UserName</KVP>
            <KVP Name="E-Mail">@_userInfo.EMail.DefaultToString("-")</KVP>
            <KVP Name="Phone">@_userInfo.Phone.DefaultToString("-")</KVP>
        }
        else
        {
            <span>Not authorized</span>
        }
    </RootContainer>

@code {
    public static string BuildPathToCurrentUser()
    {
        return $"/profile";
    }
    public static string BuildPath(string userName)
    {
        return $"/profile/{userName}";
    }

    GetUserInfoResponse? _userInfo;

    [Parameter]
    public string? UserName { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (UserName == null) // this user
        {
            _userInfo = Context.Identity.User;
        }
        else
        {
            _userInfo  = await UserService.GetUserInfoAsync(new GetUserInfoRequest(await Cookies.GetValueAsync(Constants.AUTH_TOKEN_COOKIE) ?? "", UserName));
        }

        await base.OnParametersSetAsync();
    }
}
