@page "/test/{TestId:int}"

<RootContainer>
    <h3>Test #@TestId</h3>

    <p>This page is under construction!</p>
</RootContainer>

@code {
    public static string BuildPath(int testId)
    {
        return $"/test/{testId}";
    }

    [Parameter]
    public int TestId { get; set; }
}
