@page "/test/{TestId:int}"

<h3>Test #@TestId</h3>

<p>This page is under construction!</p>

@code {
    public static string BuildPath(int testId)
    {
        return $"/test/{testId}";
    }

    [Parameter]
    public int TestId { get; set; }
}
