@page "/case-target/{TargetId}"

<RootContainer>
    <h3>Service #@TargetId</h3>

    <p>This page is under construction!</p>
</RootContainer>

@code {
    public static string BuildPath(string targetId)
    {
        return $"/case-target/{targetId}";
    }

    [Parameter]
    public string TargetId { get; set; }
}
