@inherits LayoutComponentBase

<div class="sidebar" style="min-width:200px">
    <NavMenu />
</div>

<div class="container-fluid px-0" style="overflow-x:hidden">
    <div class="row">
        <MessagesList></MessagesList>
    </div>

    <div class="row">
        @Body
    </div>
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}