@page "/"

<h3>Test observer</h3>

<TestsUI Tests="_tests"></TestsUI>

@code {
    public const string URI = "/";

    IEnumerable<TestInfo> _tests;

    protected override void OnInitialized()
    {
        _tests = new TestInfo[]
        {
            new TestInfo()
            {
                Description = "Validatioin test",
                Author = new Author()
                {
                    Id = "Hi!",
                    EMail = "LaLa@hi.com",
                    Name = "QTU100",
                    Phone = "+7-919-608-48-69"
                },
                State = new AwaitingStartState(),
                LastResult = new OkResult()
                {
                    Duration = TimeSpan.FromSeconds(3.2),
                    Result = RunResult.Passed,
                    StartTime = DateTime.UtcNow.AddDays(-1)
                },
                RunPlan = new PeriodicRunPlan()
                {
                    Interval = TimeSpan.FromMinutes(1),
                    NextRun = DateTime.UtcNow.AddMinutes(1)
                },
                Target = new ServiceTestTarget()
                {
                    Id = "SVC1234",
                    ServiceId = 6641,
                    Name = "Уничтожение муравьев",
                }
            },
            new TestInfo()
            {
                Description = "Issue XXXX test 1",
                Author = new Author()
                {
                    Id = "Hi2!",
                    EMail = "Abraham@hi.com",
                    Name = "Abraham",
                    Phone = "+1-000-000-00-00"
                },
                State = new SuspendedState(),
                LastResult = new OkResult()
                {
                    Duration = TimeSpan.FromSeconds(10),
                    Result = RunResult.RunnerError,
                    StartTime = DateTime.UtcNow.AddDays(-11)
                },
                RunPlan = new ManualRunPlan()
                {

                },
                Target = new ServiceTestTarget()
                {
                    Id = "SVC3333",
                    ServiceId = 1234,
                    Name = "Заказ товаров из ВкусВилл",
                }
            }
        };
    }
}
